/*
Copyright 2019 psvenk
This file is part of Classroom Export Viewer.

Classroom Export Viewer is free/libre and open-source software pursuant to
the terms of the MIT/Expat License; see file `COPYING` for more details.

SPDX-License-Identifier: MIT
*/

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
    /* https://getbootstrap.com/docs/4.1/content/typography/ */
}

#license-info, #license code {
    display: block;
    max-width: 80em;
}

#license br {
    display: block;
    content: "";
    margin-top: 1em;
}
/* https://stackoverflow.com/a/31633969 */

#description {
    border: 1px solid black;
    margin: 0.5em 1em;
    padding: 0.5em 1em;
}

.post, .materials, .submissions, .submission {
    border: 1px solid black;
    margin: 0.25em;
    padding: 0.25em 0.75em 0.75em;
}
